._eox{align-items:center;background-color:#f5f6f7;border-color:#dddfe2;display:flex;margin:10px 0}
.sp_LGwv87N317p{background-image:url(/rsrc.php/v3/yG/r/KOINlR4xbqu.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:32px;width:32px}.sp_LGwv87N317p.sx_d67d32{background-position:0 0}.sp_LGwv87N317p.sx_8ff418{width:24px;height:24px;background-position:0 -33px}

#bootloader_qMQZ7{height:42px;}.bootloader_qMQZ7{display:block!important;}